/* add code here */
#header h1 {
  color: green;
  text-decoration: underline;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#header ~ p {
  color: purple;
  font-size: 25px;
  font-style: italic;
}

/* add code here */

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: yellow;
}
